<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <img src="../assets/img/logoFPT.png" alt="" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="menu-header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="#home">Điểm thưởng</a>
                <a class="nav-link" href="#nhiem-vu">Nhiệm vụ</a>
                <a class="nav-link" href="#qua-tang">Quà tặng</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="search">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input
                class="me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="btn-search">
                <button class="btn" type="submit">Search</button>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
